set_io ICE_CLK 21
set_frequency ICE_CLK 12

# LEDs
set_io -nowarn D1 99 # Red, top
set_io -nowarn D2 98 # Red, right
set_io -nowarn D3 97 # Red, bottom
set_io -nowarn D4 96 # Red, left
set_io -nowarn D5 95 # Green, centre

# IrDA
set_io -nowarn -pullup yes RXD 106
set_io -nowarn -pullup yes TXD 105
set_io -nowarn -pullup yes SD 107

# PMOD 2x6 +3.3V (J2)
set_io -nowarn -pullup yes PIO1_02 78
set_io -nowarn -pullup yes PIO1_03 79
set_io -nowarn -pullup yes PIO1_04 80
set_io -nowarn -pullup yes PIO1_05 81
set_io -nowarn -pullup yes PIO1_06 87
set_io -nowarn -pullup yes PIO1_07 88
set_io -nowarn -pullup yes PIO1_08 90
set_io -nowarn -pullup yes PIO1_09 91

# GPIO 1x10 +3.3V (J1)
set_io -nowarn -pullup yes PIO0_02 112
set_io -nowarn -pullup yes PIO0_03 113
set_io -nowarn -pullup yes PIO0_04 114
set_io -nowarn -pullup yes PIO0_05 115
set_io -nowarn -pullup yes PIO0_06 116
set_io -nowarn -pullup yes PIO0_07 117
set_io -nowarn -pullup yes PIO0_08 118
set_io -nowarn -pullup yes PIO0_09 119

# GPIO 1x10 +3.3V (J3)
set_io -nowarn -pullup yes PIO2_10 44
set_io -nowarn -pullup yes PIO2_11 45
set_io -nowarn -pullup yes PIO2_12 47
set_io -nowarn -pullup yes PIO2_13 48
set_io -nowarn -pullup yes PIO2_14 56
set_io -nowarn -pullup yes PIO2_15 60
set_io -nowarn -pullup yes PIO2_16 61
set_io -nowarn -pullup yes PIO2_17 62

# UART (FTDI channel B)
set_io -nowarn -pullup yes DCDn 1
set_io -nowarn -pullup yes DSRn 2
set_io -nowarn -pullup yes DTRn 3
set_io -nowarn -pullup yes CTSn 4
set_io -nowarn -pullup yes RTSn 7
set_io -nowarn -pullup yes RS232_Tx_TTL 8
set_io -nowarn -pullup yes RS232_Rx_TTL 9

# SPI / Flash
set_io -nowarn SPI_SS 71
set_io -nowarn SPI_SCK 70
set_io -nowarn SPI_MOSI 68
set_io -nowarn SPI_MISO 67
