IO_LOC "H11_IOT27A_OSC_CK" H11;
IO_PORT "H11_IOT27A_OSC_CK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PCI_CLAMP=OFF BANK_VCCIO=3.3;

// TODO: Orange_LED4 on the dock (we'll want to create separate PCFs for the dock, SOM, etc...)
IO_LOC "LVDS_RX2_N" L14;
IO_PORT "LVDS_RX2_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
